@font-face { font-family: 'CenturyGothic'; font-display: swap; font-style: normal; font-weight: 400; src: local('CenturyGothic'), url('../assets/century-gothic.ttf') format('truetype'); }
html { font-size: 18px; }
body { font-size: 1rem; font-family: "CenturyGothic", "Segoe UI", sans-serif; font-variant: small-caps; width: -webkit-fill-available; height: 100%; background: black; color: white; overflow-x: hidden; margin: 0; }

.control-panel { position: fixed; right: 20px; top: 20px; }
.control-panel-entry {width:250px;background-color:darkslategray;box-sizing:content-box;cursor:pointer;display:block;opacity:.8;padding:8px;position:relative;z-index:100}
.control-panel-fps .fps-text {position:absolute;font-size:20px;font-weight:600;text-align:center;backface-visibility:hidden}
.control-panel-fps {display:flex;justify-content:center;align-items:center}
.control-panel-fps canvas {height:50px;width:100%;background-color:#222;border-radius:10px;margin-top:5px}
.control-panel-slider .callout {position:absolute;right:25px}
.control-panel-slider .value {position:relative;width:100%}
.control-panel-source-picker .file-selection div {display:flex;align-items:center;justify-items:center}
.control-panel-source-picker .inputs {display:none}
.control-panel-source-picker {display:flex;flex-direction:column;align-items:center}
.control-panel-text {cursor:default;font-size:20px;font-weight:600;text-align:center}
.control-panel-toggle .label {position:relative}
.control-panel-toggle .value {position:absolute;right:25px;padding:2px;width:30px}
.control-panel-toggle.no .value {background-color:maroon}
.control-panel-toggle.yes .value {background-color:seagreen}
.fps-30 {position:absolute;font-size:8px;top:45%;left:10px}
.fps-60 {position:absolute;font-size:8px;top:15%;left:10px}
